<!-- listings.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listings</title>
</head>
<body>
    <h1>User-Detail</h1>
    <ul>
        <% listings.forEach(function(listing) { %>
            <li>
                <h2><%= listing._id %></h2>
                <p>Description: <%= listing.fullName %></p>  
                <p>Expenditure: <%= listing.email %></p>
                
                <img src="/uploads/<%= listing.img %>" alt="<%= listing.venue %> "> <!-- Corrected the image src path -->
            </li>
        <% }); %>
    </ul>
</body>
</html>
